*.zip filter=lfs diff=lfs merge=lfs -text
*/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/* filter=lfs diff=lfs merge=lfs -text
*/dataset_toolkits/datasets/HuggingKG_V20241215174821/*V20241215174821/* filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/datasets.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/* filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/* filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/model_definedFor_task.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/models.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/spaces_with_created_at.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/user_like_model.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/user_like_space.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/user_publish_model.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/users.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/user_like_model.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/user_like_space.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/user_publish_model.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/users.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/datasets.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/model_definedFor_task.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/models.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/spaces_with_created_at.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/datasets.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/models.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/user_like_model.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/user_publish_model.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/user_publish_model.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/user_like_model.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/models.json filter=lfs diff=lfs merge=lfs -text
C:/Users/rdeshpande/Documents/GitHub/team3-ai/TRELLIS/dataset_toolkits/datasets/HuggingKG_V20241215174821/HuggingKG_V20241215174821/datasets.json filter=lfs diff=lfs merge=lfs -text
